# Data processing and analysis
pandas
numpy
yfinance
scikit-learn

# Web scraping and APIs
praw
requests
beautifulsoup4

# Sentiment Analysis
vaderSentiment
textblob

# Visualization and Dashboard
streamlit
plotly
altair

# Development and testing
python-dotenv